
header{
    background-color: rgba(255, 255, 255, 0.933);
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

ul{
    list-style: none;
}

ul a{
    display: inline-block;
    margin: 5px;

}

/* header nav ul {
    display: inline-block;
    list-style: none;
} */

header nav{
    float: right;
}

body{
    background-image: url("/public/img/pattern.jpg");
    margin: 0px;
}

section{
    background-color: white;
    margin: 80px 150px 30px;
    padding: 20px;
}

section h1{
    text-align: center;
    
}

article{
    border-bottom: 2px solid grey;
}

a {
    text-decoration: none;
}

footer{
    background-color: black;
    padding: 5px;


}

h5{
    color: white;
    text-align: center;


}